.backHome {
  font-family: Manrope;

  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  opacity: 0.5;
  color: #000;
  text-decoration: none;
}

.price {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  letter-spacing: 1.2857142686843872px;
  text-align: left;
  margin-bottom: 47px;
}
.fullInfo {
  display: flex;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 160px;
}
.feature {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 635px;
  .description {
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    opacity: 0.7;
  }
}
.text-feature {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  text-align: left;
}

.box {
  .text-feature {
    margin-bottom: 32px;
  }
  .description {
    display: flex;
    gap: 20px;
    margin-bottom: 8px;
    p {
      font-family: Manrope;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      text-align: left;
      opacity: 0.7;
    }
    span {
      font-family: Manrope;
      font-size: 15px;
      font-weight: 700;
      line-height: 25px;
      text-align: left;
      color: #d87d4a;
      opacity: 1;
    }
  }
}
.galery {
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  margin-top: 160px;
  img {
    border-radius: 10px;
  }
}
.galeryMin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btns {
  display: flex;
  gap: 20px;
  .see-product {
    border: none;
    transition: all 0.5s;
  }
  .see-product:hover {
    opacity: 0.5;
  }
}
.quantity-controls {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 15px 30px;
  background-color: #f1f1f1;
  button {
    border: none;
    cursor: pointer;
    font-family: Manrope;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.76px;
    letter-spacing: 1px;
    text-align: center;
    opacity: 0.25;
  }
  span {
    font-family: Manrope;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.76px;
    letter-spacing: 1px;
    text-align: center;
  }
}
.buy {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
